.player {
  display: flex;
  width: 300px;
  background-color: rgb(185, 162, 131);
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
  span {
    font-size: 24px;
    margin: 12px;
  }
}

.player-active {
  background-color: rgb(243, 172, 78);
}